/* Add CSS styling here */

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

*{
  box-sizing:border-box;
  /* margin:0; */
  padding:0;
  max-width:100%;
  /* border:1px solid grey; */
}
html{
  font-size:62.5%;
}
body{
  font-size:1.6rem;
  font-family: 'Cabin', sans-serif;
  line-height:1.5;
  padding: 1%;

}

h1{
    font-family: 'Cabin' 800, sans-serif;
}

h2{
    font-family: 'Cabin' 400, sans-serif;
}

a{
  text-decoration:none;
  color:#fff;
  display:inline-block;
  width:40%;
  text-align:center;
  border-radius: 5px;
}

.headSection{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding:2%;
}

nav{
    display:flex;
    justify-content: space-around;
    padding:.5% 0;
    width: 25%;

}
.navButton{
    background-color: darkslategray;
    transition:2s;
    margin: .5%;    
}

.navButton:hover{
    background-color: lightseagreen;
 }

.intro{
    /* height: 15%; */
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:2%;
}

.introHeroImage{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 35%;
    height: 35%;
}

.introInfo{
    display:flex;
    flex-flow: column;
    justify-content: space-evenly;
    /* padding: 2%; */
    align-self: center;
    width: 40%;
    height: 75%;
}

.projectsButton{
    background-color: darkslategray;
    transition:2s;
    margin: .5%; 
}

.projectsButton:hover{
    background-color: lightseagreen;
}

.projects{    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding:1% 0; */
}

.projectsrow1{
    display:flex;
    justify-content: center;
}

.projectsrow2{
    display:flex;
    justify-content: center;
}

.imageWText{
    width: 100%;
    height: 100%;
    text-align: center;
}

.box{
    padding: 1%;
    width: 100%;
    height: 100%;
}

footer{
    /* width: 90%; */
    background-color: gray;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.footerTitle{
    display: flex;
    justify-content: center;
    margin: 1% 1%;
}

.footerContact{
    display:flex;
    justify-content: center;
}

.contactButton{
    background-color: darkslategray;
    width: 150px;
    margin: 0% 5% 3%;
    transition:2s;
}

.contactButton:hover{
        background-color: lightseagreen;
}

.socialMedia{
    display:flex;
    width: 50%;
    justify-content: center;
    align-self: center;
    Margin: 1%;    
}

.fas, .fab{
    font-size: 5rem;
}

/* Site works well for iPhone at 360 x 640. No changes needed. */

/* Stylings for laptop screen at 1366 x 768. */


@media(max-width: 1336px){
    body{
        width: 1336px;
        background-color: rgb(92, 76, 76);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headSection{
        width: 90%;
        margin: 0 auto;
        /* justify-content: center;
        align-content: center; */
        text-align: center;
    }

    nav{
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    } 

    .navButton{
        align-self: center;
        width: 25%;
    }

    .projectsrow1, .projectsrow2{
        flex-flow: wrap;
        justify-content: space-around;
    }  

    .imageWText{
        width: 33%;
        margin: 1%;
    }

    footer{
    width: 90%;
    }

    .contactButton{
        padding: 2%;
    }

    .fas, .fab{
    font-size: 3rem;
    }
}


/* Styles for tablet at 800px */

@media(max-width: 800px){
    body{
        width: 800px;
        background-color: lightsteelblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headSection{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    nav{
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    } 

    .navButton{
        align-self: center;
        width: 25%;
    }

    .intro{
        align-self: center;
        width: 90%;
        flex-direction: column;
    }

    .introHeroImage{
        width: 75%;
    }

    .introInfo{
        width: 90%;
        text-align: center;
        align-items: center;
    }

    .projectsButton{
        width: 25%;
    }

    .projectsrow1, .projectsrow2{
        flex-flow: wrap;
        justify-content: space-around;
    }  

    .imageWText{
        width: 40%;
    }

    footer{
        width: 90%;
    }

    .fas, .fab{
    font-size: 4rem;
    }

}

/* Styles for phones at 500px */

@media(max-width: 500px){
    body{
        width: 500px;
        background: lightcoral;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headSection{
        width: 90%;
        margin: 0 auto;
        /* justify-content: center;
        align-content: center; */
        text-align: center;
    }

    nav{
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    } 

    .navButton{
        align-self: center;
        width: 50%;
    }

    .intro{
        align-self: center;
        width: 90%;
        flex-direction: column;
        
    }

    .introHeroImage{
        width: 90%;
    }

    .introInfo{
        width: 90%;
        text-align: center;
        align-items: center;
    }

    .projectsButton{
        width: 50%;
    }

    .projectsrow1, .projectsrow2{
        flex-flow: wrap;
        justify-content: space-around;
    }  

    .imageWText{
        width: 40%;
        margin: 1%;
    }  

    footer{
    width: 90%;
    }

    .contactButton{
        padding: 4%;
    }

    .fas, .fab{
    font-size: 3rem;
    }
    
}




